.bg-color-banner {
    background-color: #3E4653
}

.title-color {
    color: #FF8A00;
}

.subtitle-color {
    color: #FAF9FA;
}

.bg-color-white {
    background-color: #FFFFFF;
}

.bg-color-black {
    background-color: #1B1B1B;
}

.bg-color-title {
    background-color: #FF8A00;
}

.text-color-black {
    color: #181818;
}

.section-pd120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.imgtranslate {
    transform: translateY(120px);
}

.pdtop120 {
    padding-top: 120px;
}

.pdtop60 {
    padding-top: 60px;
}

.pdtop30 {
    padding-top: 30px;
}

.pdbtm30 {
    padding-bottom: 30px;
}

.pdbtm20 {
    padding-bottom: 20px;
}

.pdbtm120 {
    padding-bottom: 120px;
}

p {
    margin: 0;
}

.pdbtm60 {
    padding-bottom: 60px;
}

.pdbtm40 {
    padding-bottom: 40px;
}

.iconborder {
    border: 2px;
}

.pdtpbtm {
    padding-top: 8px;
    padding-bottom: 15px;
}

.bannerbg {
    background-image: url("../images/slide-1.jpg");
    /*/*width: 100%;*/
    height: 100vh;
    /*background-position: center;*/
    background-size: cover;
}

.pd20 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.bannercontent {
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: left;
    -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


/*.aboutbg {
    background-image: url("../images/man.png");
    background-size: cover;
}*/

.contactbg {
    background-image: url("../images/contact.jpg");
    background-size: cover;
    opacity: 0.5;
    /* Safari 6.0 - 9.0 */
}

.referencebg {
    background-image: url("../images/bg-image.jpg");
    background-size: cover;
}

.pad30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pad5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pdtop15 {
    padding-top: 15px;
}

.blog-img {
    -webkit-box-shadow: -1px 0px 0px 4px rgba(241, 241, 241, 1);
    -moz-box-shadow: -1px 0px 0px 4px rgba(241, 241, 241, 1);
    box-shadow: -0.01em 0px 0px 2px rgba(241, 241, 241, 1);
}

.icon-display {
    float: left;
    padding-right: 18px;
}

.icon-margin {
    margin-right: 15px;
}

.fontchng {
    font-family: Pacifico;
    font-style: italic;
    font-size: 25px;
}

.section-title {
    font-family: Roboto;
    font-size: 35px;
    font-weight: 900;
}

.pgcolor {
    /*color: #FF8A00;*/
    background-color: #FF8A00;
}

.progress {
    background-color: #5E5858;
}

.radborder {
    border-radius: 0;
}

.banner-title {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 900;
    line-height: 5px;
}

.banner-sub-title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 3px;
}

.section-description {
    font-size: 15px;
    font-weight: 500;
}

.sub-section-title {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 900;
}

.aboutpic {
    max-width: 100;
    max-height: 100;
}

.menubar {
    font-size: 20px;
    /*float: left;*/
    /*text-align: middle;*/
}

.transparency {
    background: transparent;
    border: none;
}

#owl-demo .item {
    margin: 3px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.transparence {
    background: transparent;
    /*border-bottom: 1px;*/
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-radius: 0px;
}

.social-list {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
    text-align: center;
    margin-right: 15px;
    /*float: left;*/
}

.blog-descrptn {
    padding-bottom: 25px;
    padding-top: 25px;
    margin: 15px;
}

.caption {
    padding-top: 15px;
    padding-bottom: 20px;
    font-weight: bold;
}

.social-list-icon {
    color: #000;
    background: #ddd;
    width: 42px;
    height: 42px;
    font-size: 32px;
    line-height: 42px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: center;
}

.btnstyle {
    border-radius: 25px;
    background-color: #FF8A00;
    border: none;
    padding: 12px;
    font-weight: 550;
}

.submit-btn {
    /*border-radius: 25px;*/
    background-color: #FF8A00;
    border: none;
    padding: 12px;
    font-weight: 550;
}

.submenu {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.designation {
    font-size: 16px;
}


/*.bar {
    box-sizing: border-box;
    box-shadow: 
    background-color: #FAF9FA;
}*/

.exbox {
    background-color: #FAF9FA;
    max-width: 100;
    height: 120px;
    border: 10px;
    border-style: solid;
    border-color: #FF8A00;
    padding: 35px 40px;
}

.exbox1 {
    background-color: #FF8A00;
    max-width: 100;
    height: 120px;
    border-style: solid;
    padding: 46px 55px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.blgpic {
    height: 150px;
    width: 100px;
}

.marginless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.imgsize {
    width: 100vh;
    height: 250px;
}

.imgsizelg {
    width: 100vh;
    height: 395px;
}

.blogbox {
    -webkit-box-shadow: 8px 2px 42px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 2px 42px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 2px 42px -7px rgba(0, 0, 0, 0.75);
    padding: 15px;
    transform: translateX(-50px);
    transform: translateY(120px);
}


/*.webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}*/