.bg-color-banner {
    background-color: #3E4653
}

.title-color {
    color: #FF8A00;
}

.subtitle-color {
    color: #FAF9FA;
}

.bg-color-white {
    background-color: #FFFFFF;
}

.bg-color-black {
    background-color: #1B1B1B;
}

.bg-color-title {
    background-color: #FF8A00;
}

.text-color-black {
    color: #181818;
}

.section-pd120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.pdtop120 {
    padding-top: 120px;
}

.pdbtm30 {
    padding-bottom: 30px;
}